@media(max-width:780px){
    .sidebar{
        display: none;
    }
    .contents{
        width: 100%;
    }
}
@media(min-width:780px){
    header{
        display: none;
    }
}
@media(max-width:640px){
    .photo-wrapper img{
        width: 100%;
    }
}
@media(max-width:640px){
    .brand-boxs{
        display: block;
        text-align: center;
    }
    .brand-box{
        width: 100%;
        padding: 0 0 50px 0;
    }
    .brand-boxs img{
        width: 40%;
    }
    .project-box img{
        float: none;
        padding-bottom: 20px;
    }
    .project-wrapper{
        padding-bottom: 80px;
    }
    .company-box{
        display: block;
    }
    iframe{
        height: 60vw;
    } 
    .company-box p{
        padding-bottom: 40px;
    }
}
