*{
    box-sizing: border-box;
}
body{
    text-size-adjust: 100%;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: white;
}
/*----------------------side----*/
.sidebar{
    position: fixed;
    right:0;
    width: 20%;
    height: 100%;
}
.sidebar li{
    list-style: none;
    padding: 11px 0;
}
.side-contents{
    padding-left: 18%;
}
.sidebar li a{
    color: #fff;
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
    font-size: 14px;
}
.sidebar li a:hover{
    text-decoration: underline;
}
.side-contents >img{
    padding: 25px 0 40px 0;
}
.icon-wrapper img{
    margin-right: 10px;
    margin-top: 60px;
}
.icon-wrapper img:hover{
    opacity: 0.8;
}
/*---------------------------main*/
.contents{
    width: 80%;
}
.contents >img{
    width: 100%;
}
.message-wrapper{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.heading{
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
    font-size: 22px;
    padding:80px 0 20px 0;
    margin-bottom: 50px;
    border-bottom: 3px solid white;
    display: inline-block;
}
.textarea{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 80px;
}
/*-----------------------------*/
.photo-wrapper img{
    width: 33.7%;
    margin:0 -5px;
}
span .big-photo{
    width: 100%;
}
img{
    vertical-align: bottom;
}
/*-----------------------------*/
.brand-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid white;
}
.brand-boxs{
    display: flex;
    text-align: left;
    padding-bottom: 50px;
}
.brand-box{
    width: 25%;
    padding: 0 25px;
}
.brand-boxs img{
    width: 100%;
    margin-bottom: 10px;
}
/*---------------------------------*/
.project-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
    border-bottom: 1px solid white;
}
.project-box{
    padding: 0 0 70px 0;
}
.project-box img{
    width: 375px;
    height: 225px;
    padding: 0 20px 0 0;
    float: left;
}
.project-box p{
    text-align: left;
    font-size: 13px;
}
/*-----------------------------*/
.company-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
}
.company-box{
    display: flex;
}
.company-box p{
    text-align: left;
    padding-right:11%;
}
/*--------------------------footer*/
footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

footer a{
    color: blue;
}
footer a:hover{
    text-decoration: underline;
}
footer p{
    font-size: 10px;
}
/*-----------------------------------header*/
header{
    text-align: center;
    height:60px;
    width: 100%;
    position: fixed;
    background-color: black;
}
header img{
    height: 25px;
    width: 100px;
    margin-top: 15px;
}
header .fa-bars{
float: right;
padding: 25px 20px 0 0;
}
/*------------------------------------header-nav*/
.header-nav{
    background-color: black;
    text-align: left;
    transform: translateY(-110%);
    transition: 0.5s;
    z-index: 10;
}
.header-menu li{
    padding: 18px 0px;
    border-bottom: 1px solid white;
}
.header-menu li a{
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
    font-size: 14px;
}
.header-menu li a:hover{
    text-decoration: underline;
}
.header-menu .fa-solid{
    padding: 0px 10px;
}
.header-icon .fa-brands{
    padding: 20px 10px;
    
}
.header-icon{
    border-bottom: 1px solid white;
}
/*--------------------------------check*/
.drawer-btn:checked ~.header-nav{
    transform: translateY(10%);
}
.drawer-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(1.5);
    opacity: 0;
    z-index: 200;
}
.header-cover{
    text-align: center;
    height:60px;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 100;
}
